@layout('layouts/app')
@section('content')
	<div class="w-full mb-2 flex flex-col items-start" >
		<p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Sit illum quae aliquid et mollitia vitae hic numquam? Ab exercitationem suscipit, dignissimos cupiditate repellendus earum. Deserunt quisquam suscipit esse dolorum vitae.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit molestiae, reiciendis error. Illo, maiores voluptatibus eligendi, ullam ab praesentium pariatur nemo iusto, repellendus, illum quis dolor alias officia iure suscipit.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Quod repellat consequuntur non porro nihil consectetur commodi impedit aliquam quas at. Soluta nisi molestias autem aliquam iure, accusantium officiis asperiores totam!</p>
	</div>
@end